#shop {
  width: 90%;
  margin: 1rem auto;
}

.product-list * {
  text-decoration-line: none;
}

#products {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(10rem, max-content));
  gap: 1rem;
}

.product {
  height: 100%;
  /*background: #5f4e33;*/
  position: relative;
  background: #fff7f1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.product img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-content {
  flex: 1;
  padding: 0 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-content h3 {
  font-size: 0.85rem;
  color: #201e1a;
  margin-bottom: 0.15rem;
}

.products-price {
  font-size: 0.75rem;
  color: #3a2b0a;
  margin: 0;
  display: flex;
  gap: 15px;
  align-items: baseline;
}

.products-price s {
  color: #73716c;
  font-size: 0.65rem;
  text-decoration-line: line-through;
}

.product-actions {
  text-align: right;
}

.products-description {
  font-size: 0.7rem;
  color: #3a2b0a;
  margin: 0;
}

.product-procentage {
  background-color: #e62617;
  font-size: 0.75rem;
  color: #fff7f1;
  width: 40px;
  height: 20px;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px) {
  .product-content h3 {
    font-size: 0.95rem;
  }
  .products-price s {
    font-size: 0.75rem;
  }
  .products-price {
    font-size: 0.85rem;
  }
  .products-description {
    font-size: 0.8rem;
  }
  .product-procentage {
    font-size: 0.85rem;
    width: 45px;
    height: 25px;
  }
}
