#warning-modal {
  position: relative;
  bottom: 0;
  right: 0;
  width: 300px;
  background: #d3b17b;
  padding: 0px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fade-slide-in-from-bottom-right 0.3s ease-in-out;
}

@keyframes fade-slide-in-from-bottom-right {
  from {
    opacity: 0;
    transform: translate(50px, 50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.main-warning {
  padding: 15px;
}

.warning {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  background: transparent;
  display: flex;
}

#warning-modal h2 {
  font-size: 1.5rem;
  color: #4f3807;
  text-transform: uppercase;
  margin: 0;
}

#warning-modal .progressBarContainer {
  height: 10px;
  background-color: #d3b17b;
  position: relative;
  overflow: hidden;
  margin-bottom: 0px;
  padding: 0px;
}

#warning-modal .progressBar {
  height: 100%;
  transition: width 0.1s linear;
}
